openapi: 3.1.0
info:
  title: Trita API
  version: "2026-08-23"
  description: |
    Trita platform belső API-leírója — kézzel karbantartott, a route-fájlok
    Zod-sémáiból származtatva. Auth: Clerk session cookie (böngésző-hívások),
    kivéve a jelölt publikus, token-alapú végpontokat.

    Csoportok (tags): Public · Assessment · Observer · Profile · Notifications
    · Feedback · Team · TeamRoles/Trust/PsychSafety · Org · Manager/Hiring
    · Admin · Inquiry · System.

    Generálás: a projekt sima Next.js route-handlereket használ (nincs
    dekorátor-réteg), ezért teljesen automatikus generátor nincs bekötve.
    Ajánlott irány: zod-openapi (a meglévő Zod-sémák annotálása) vagy
    next-rest-framework — lásd docs/security/security-audit-2026-07-22.md.

servers:
  - url: https://trita.io
  - url: http://localhost:3000

components:
  securitySchemes:
    clerkSession:
      type: apiKey
      in: cookie
      name: __session
      description: Clerk session cookie — a böngésző automatikusan küldi.
    cronBearer:
      type: http
      scheme: bearer
      description: CRON_SECRET Bearer tokenként (Vercel cron).
    svixSignature:
      type: apiKey
      in: header
      name: svix-signature
      description: Svix webhook aláírás (svix-id + svix-timestamp + svix-signature).
  schemas:
    Error:
      type: object
      properties:
        error: { type: string, description: "Rövid hibakód (pl. UNAUTHORIZED, INVALID_PAYLOAD)" }
    Ok:
      type: object
      properties:
        ok: { type: boolean }
    Answer:
      type: object
      required: [questionId, value]
      properties:
        questionId: { type: integer, minimum: 1 }
        value: { type: integer, minimum: 1, maximum: 5 }

security:
  - clerkSession: []

tags:
  - name: Public
    description: Auth nélkül hívható végpontok (rate-limitelt / token-alapú)
  - name: Assessment
  - name: Observer
  - name: Profile
  - name: Notifications
  - name: Feedback
  - name: Team
  - name: TeamRoles
  - name: Org
  - name: Manager
  - name: Admin
    description: Csak ADMIN_EMAILS (requireAdmin)
  - name: Inquiry
  - name: System

paths:
  # ── Public ────────────────────────────────────────────────────────────────
  /api/contact:
    post:
      tags: [Public, Inquiry]
      summary: Kapcsolat űrlap beküldése (Inquiry-pipeline + admin email)
      security: []
      description: Rate limit "contact" (3/perc/IP). Honeypot mező (website).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, email, topic, message]
              additionalProperties: false
              properties:
                name: { type: string, minLength: 2, maxLength: 100 }
                email: { type: string, format: email, maxLength: 320 }
                company: { type: string, maxLength: 120 }
                topic: { type: string, enum: [demo, pricing, support, partnership, other] }
                message: { type: string, minLength: 20, maxLength: 4000 }
                website: { type: string, description: "Honeypot — kitöltve csendben eldobjuk" }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/Ok" } } } }
        "400": { description: Invalid payload }
        "429": { description: Rate limited }
        "502": { description: Persist failed }
  /api/pilot-apply:
    post:
      tags: [Public]
      summary: Pilot-jelentkezés (publikus űrlap)
      security: []
      responses: { "200": { description: OK } }
  /api/candidate/{token}:
    get:
      tags: [Public, Manager]
      summary: Jelölt-meghívó kontextus lekérése (publikus, token-alapú)
      security: []
      parameters:
        - { name: token, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Meghívó-kontextus }
        "404": { description: Érvénytelen token }
  /api/candidate/{token}/progress:
    patch:
      tags: [Public, Manager]
      summary: Jelölt kitöltési progress mentése
      security: []
      parameters:
        - { name: token, in: path, required: true, schema: { type: string } }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [answeredCount]
              properties:
                answeredCount: { type: integer, minimum: 0, maximum: 500 }
      responses: { "200": { description: OK } }
  /api/candidate/{token}/submit:
    post:
      tags: [Public, Manager]
      summary: Jelölt teszt beküldése
      parameters:
        - { name: token, in: path, required: true, schema: { type: string } }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [answers]
              properties:
                answers:
                  type: array
                  items: { $ref: "#/components/schemas/Answer" }
      responses: { "200": { description: OK } }

  # ── Observer (token-alapú publikus + belépett meghívó-kezelés) ───────────
  /api/observer/draft:
    post:
      tags: [Observer, Public]
      summary: Observer kitöltés-piszkozat mentése (token-alapú, auth nélkül)
      security: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [token, phase, relationshipType, knownDuration, answers, currentPage]
              properties:
                token: { type: string }
                phase: { type: string, enum: [intro, assessment, confidence] }
                relationshipType: { type: string }
                knownDuration: { type: string }
                answers: { type: object, additionalProperties: { type: integer, minimum: 1, maximum: 5 } }
                currentPage: { type: integer, minimum: 0 }
      responses: { "200": { description: OK } }
    delete:
      tags: [Observer, Public]
      summary: Observer piszkozat törlése
      security: []
      responses: { "200": { description: OK } }
  /api/observer/submit:
    post:
      tags: [Observer, Public]
      summary: Observer értékelés beküldése (token-alapú, auth nélkül)
      security: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [token, relationshipType, knownDuration, answers]
              properties:
                token: { type: string }
                relationshipType: { type: string, enum: [FRIEND, COLLEAGUE, FAMILY, PARTNER, OTHER] }
                knownDuration: { type: string }
                answers:
                  type: array
                  items: { $ref: "#/components/schemas/Answer" }
                confidence: { type: integer, minimum: 1, maximum: 5 }
      responses:
        "200": { description: OK }
        "404": { description: INVALID_TOKEN }
  /api/observer/invite:
    get:
      tags: [Observer]
      summary: Saját observer-meghívók listája
      responses: { "200": { description: Meghívó-lista } }
    post:
      tags: [Observer]
      summary: Observer-meghívó létrehozása (email vagy kolléga)
      description: Rate-limitelt; max 5 aktív meghívó; kolléga-meghívó jóváhagyást igényelhet.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                colleagueUserId: { type: string, description: "Kolléga-meghívó — email-lel kölcsönösen kizáró" }
                email: { type: string, format: email }
                name: { type: string, maxLength: 100 }
                externalContext: { type: string, maxLength: 200 }
      responses: { "200": { description: Meghívó + token } }
  /api/observer/invite/{id}:
    delete:
      tags: [Observer]
      summary: Saját meghívó visszavonása
      parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
      responses: { "200": { description: OK } }
  /api/observer/invite/{id}/decision:
    post:
      tags: [Observer, Org]
      summary: Kolléga-meghívó jóváhagyása/elutasítása (manager)
      parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [action]
              properties:
                action: { type: string, enum: [approve, decline] }
      responses: { "200": { description: OK } }
  /api/observer/link:
    post:
      tags: [Observer]
      summary: Observer-token hozzákötése a belépett profilhoz
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties: { token: { type: string } }
      responses:
        "200": { description: OK }
        "409": { description: OBSERVER_MISMATCH / ALREADY_USED }
  /api/observer/colleagues:
    get:
      tags: [Observer, Org]
      summary: Meghívható kollégák listája (org-tagság alapján)
      responses: { "200": { description: Kolléga-lista } }

  # ── Assessment ────────────────────────────────────────────────────────────
  /api/assessment/questions:
    get:
      tags: [Assessment]
      summary: Kérdésbank lekérése (belépett user testType-ja szerint)
      responses: { "200": { description: Kérdéslista } }
  /api/assessment/draft:
    post:
      tags: [Assessment]
      summary: Kitöltés-piszkozat mentése (szerver-szinkron)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [answers, currentPage]
              properties:
                answers: { type: object, additionalProperties: { type: integer, minimum: 1, maximum: 5 } }
                currentPage: { type: integer, minimum: 0 }
      responses: { "200": { description: OK } }
    delete:
      tags: [Assessment]
      summary: Piszkozat törlése
      responses: { "200": { description: OK } }
  /api/assessment/submit:
    post:
      tags: [Assessment]
      summary: Önértékelő teszt beküldése (score-számítás)
      description: Rate-limitelt.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [testType, answers]
              properties:
                testType: { type: string, enum: [TRITAN] }
                answers:
                  type: array
                  items: { $ref: "#/components/schemas/Answer" }
      responses: { "200": { description: Eredmény-azonosító } }
  /api/assessment/claim-guest:
    post:
      tags: [Assessment]
      summary: Vendég-kitöltés (/try) átvétele belépés után
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [answers]
              properties:
                answers:
                  type: array
                  items: { $ref: "#/components/schemas/Answer" }
      responses: { "200": { description: OK } }
  /api/assessment/skip:
    post:
      tags: [Assessment]
      summary: Teszt kihagyása (org-tag onboarding)
      responses: { "200": { description: OK } }

  # ── Profile ───────────────────────────────────────────────────────────────
  /api/profile/onboarding:
    get:
      tags: [Profile]
      summary: Saját profil + tagságok lekérése
      responses: { "200": { description: Profil }, "401": { description: Unauthorized } }
    post:
      tags: [Profile]
      summary: Onboarding-adatok mentése
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [username, birthYear, gender]
              properties:
                username: { type: string, minLength: 2, maxLength: 20 }
                birthYear: { type: integer }
                gender: { type: string, enum: [male, female, other, prefer_not_to_say] }
                country: { type: string, maxLength: 100 }
                consentedAt: { type: string, format: date-time }
                eduLevel: { type: string, enum: [primary, secondary, vocational, higher] }
                eduField: { type: string }
                currentIndustry: { type: string, maxLength: 50 }
      responses: { "200": { description: OK } }
  /api/profile/username:
    patch:
      tags: [Profile]
      summary: Felhasználónév módosítása
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [username]
              properties:
                username: { type: string, minLength: 2, maxLength: 20 }
      responses: { "200": { description: OK } }
  /api/profile/locale:
    get: { tags: [Profile], summary: Nyelv lekérése, responses: { "200": { description: OK } } }
    post:
      tags: [Profile]
      summary: Nyelv mentése (DB = source of truth)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [locale]
              properties: { locale: { type: string, minLength: 2 } }
      responses: { "200": { description: OK } }
  /api/profile/career-background:
    post:
      tags: [Profile]
      summary: Karrier-háttér mentése (Karrier-iránytű)
      description: Rate-limitelt.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [status, eduLevel, eduField, ageBand, currentIndustry, interests]
              properties:
                status: { type: string, enum: [studying, working, switching] }
                eduLevel: { type: [string, "null"] }
                eduField: { type: [string, "null"] }
                ageBand: { type: [string, "null"], enum: [under20, 20s, 30s, 40s, 50plus, null] }
                currentIndustry: { type: [string, "null"] }
                interests: { type: array, maxItems: 3, items: { type: string } }
      responses: { "200": { description: OK } }
  /api/profile/status:
    get: { tags: [Profile], summary: Profil-állapot (journey-hez), responses: { "200": { description: OK } } }
  /api/profile/delete:
    post:
      tags: [Profile]
      summary: Fiók törlése (soft delete + Clerk user törlés)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [confirm]
              properties:
                confirm: { type: string, const: DELETE }
      responses: { "200": { description: OK } }
  /api/profile/share:
    post:
      tags: [Profile]
      summary: Megosztási token létrehozása / visszaadása (legutóbbi self-eredmény)
      responses: { "200": { description: "{ token }" } }
    delete:
      tags: [Profile]
      summary: Megosztás visszavonása (minden self-eredmény tokenje törlődik)
      responses: { "200": { description: OK } }
  /api/profile/share/send:
    post:
      tags: [Profile]
      summary: Megosztási link kiküldése emailben
      description: Rate limit "contact" (userId-alapú).
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties: { email: { type: string, format: email, maxLength: 254 } }
      responses:
        "200": { description: OK }
        "429": { description: Rate limited }
        "500": { description: SEND_FAILED }

  # ── Notifications ─────────────────────────────────────────────────────────
  /api/notifications:
    get: { tags: [Notifications], summary: Saját értesítések listája, responses: { "200": { description: OK } } }
  /api/notifications/unread-count:
    get: { tags: [Notifications], summary: Olvasatlan darabszám, responses: { "200": { description: OK } } }
  /api/notifications/mark-read:
    post:
      tags: [Notifications]
      summary: Értesítések olvasottra állítása
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  required: [ids]
                  properties: { ids: { type: array, items: { type: string } } }
                - type: object
                  required: [all]
                  properties: { all: { type: boolean, const: true } }
      responses: { "200": { description: OK } }
  /api/notifications/{id}:
    delete:
      tags: [Notifications]
      summary: Értesítés elrejtése (soft dismiss, csak sajátra hat)
      parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
      responses: { "200": { description: OK } }

  # ── Feedback ──────────────────────────────────────────────────────────────
  /api/feedback:
    post: { tags: [Feedback], summary: Elégedettség-visszajelzés (satisfaction), responses: { "200": { description: OK } } }
  /api/feedback/dimension:
    post:
      tags: [Feedback]
      summary: Dimenzió-pontosság visszajelzés
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [assessmentResultId, dimensionCode, accuracyRating]
              properties:
                assessmentResultId: { type: string }
                dimensionCode: { type: string, maxLength: 4 }
                accuracyRating: { type: integer, minimum: 1, maximum: 5 }
                comment: { type: string, maxLength: 2000 }
      responses: { "200": { description: OK } }
  /api/industry-fit/feedback:
    post:
      tags: [Feedback]
      summary: Szerep-illeszkedés kalibráció ("találó volt?")
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [occupationId, fitScore, verdict]
              properties:
                occupationId:
                  type: string
                  maxLength: 20
                  description: O*NET-SOC kód a v2 katalógusból (pl. 15-1252.00)
                fitScore: { type: integer, minimum: 0, maximum: 100 }
                verdict: { type: string, enum: [accurate, inaccurate] }
      responses: { "200": { description: OK } }
  /api/career/fit:
    post:
      tags: [Career]
      summary: Karrier-illeszkedés számítása (motor v2, klaszterezett eredmény)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                prefs:
                  type: object
                  description: "tengelyenként -1 | 0 | 1 (people, variety, autonomy, creation, pace, structure, setting)"
                leadIntent: { type: string, enum: [lead, expert, unsure] }
                eduLevel: { type: string, enum: [primary, secondary, vocational, higher], nullable: true }
                industries: { type: array, maxItems: 3, items: { type: string } }
                currentIndustry: { type: string, nullable: true }
                limit: { type: integer, minimum: 1, maximum: 40 }
                readyOnly: { type: boolean }
      responses:
        "200": { description: OK }
        "409": { description: NO_ASSESSMENT — nincs kitöltött önértékelés }
  /api/feature-interest:
    post:
      tags: [Feedback]
      summary: "Deprecated — 308 átirányítás: /api/features/interest?legacy=lead"
      deprecated: true
      responses: { "308": { description: Permanent Redirect } }
  /api/features/interest:
    get: { tags: [Feedback], summary: Saját érdeklődés-jelzések, responses: { "200": { description: OK } } }
    post:
      tags: [Feedback]
      summary: "Feature-érdeklődés — mode:lead (meleg lead + admin email) / mode:wishlist (toggle)"
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  required: [mode, featureKey]
                  properties:
                    mode: { type: string, enum: [lead] }
                    featureKey: { type: string, enum: [team, industry_role] }
                    message: { type: string, maxLength: 2000 }
                - type: object
                  required: [mode, featureKey]
                  properties:
                    mode: { type: string, enum: [wishlist] }
                    featureKey: { type: string, enum: [team, comm, "360"] }
      responses:
        "200": { description: OK }
        "429": { description: Rate limited }

  # ── Inquiry (in-app kérdés) ───────────────────────────────────────────────
  /api/inquiry:
    post:
      tags: [Inquiry]
      summary: In-app kérdés beküldése (help-widget) — session-alapú user/org link
      description: Rate limit "contact" (userId-alapú). Admin + org-tanácsadó notifot kap.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [message]
              additionalProperties: false
              properties: { message: { type: string, minLength: 10, maxLength: 4000 } }
      responses:
        "200": { description: OK }
        "429": { description: Rate limited }

  # ── Team ──────────────────────────────────────────────────────────────────
  /api/team:
    get: { tags: [Team], summary: Saját csapatok, responses: { "200": { description: OK } } }
    post:
      tags: [Team]
      summary: Csapat létrehozása (org-kontextusban, capability-gate)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, maxLength: 80 }
                orgId: { type: string }
      responses: { "200": { description: OK } }
  /api/team/{id}/members:
    post:
      tags: [Team]
      summary: Org-tag hozzáadása csapathoz
      parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [userId]
              properties: { userId: { type: string } }
      responses: { "200": { description: OK } }
  /api/team/{id}/members/{userId}:
    patch:
      tags: [Team]
      summary: Csapattag-szerep módosítása
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [role]
              properties: { role: { type: string, enum: [member, manager] } }
      responses: { "200": { description: OK } }
    delete: { tags: [Team], summary: Csapattag eltávolítása, responses: { "200": { description: OK } } }
  /api/team/{id}/invite:
    post:
      tags: [Team]
      summary: Email-meghívó csapatba (TeamPendingInvite + join-link)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties: { email: { type: string, format: email } }
      responses: { "200": { description: "{ signUpUrl }" } }
  /api/team/invite:
    post:
      tags: [Team]
      summary: Nyílt (reusable) meghívó-link generálása
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [teamId]
              properties: { teamId: { type: string } }
      responses: { "200": { description: "{ inviteUrl, inviteId }" } }
  /api/team/join:
    post:
      tags: [Team]
      summary: Csatlakozás csapathoz meghívó-id-vel
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [inviteId]
              properties: { inviteId: { type: string } }
      responses: { "200": { description: OK } }
  /api/team/pending-invite/{id}:
    delete: { tags: [Team], summary: Függő meghívó visszavonása, responses: { "200": { description: OK } } }
  /api/team/pending-invite/{id}/resend:
    post: { tags: [Team], summary: Függő meghívó újraküldése, responses: { "200": { description: OK } } }
  /api/team/{id}/pattern:
    get:
      tags: [Team]
      summary: Csapat-mintázat (TRITAN-aggregátum) — csapat-hozzáférés kell
      responses: { "200": { description: OK }, "403": { description: FORBIDDEN } }
  /api/team/{id}/report:
    post: { tags: [Team], summary: Csapat-riport draft létrehozása (tanácsadó), responses: { "200": { description: OK } } }
    patch:
      tags: [Team]
      summary: Riport mentés / előnézet / publikálás / visszavonás
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [reportId]
              properties:
                reportId: { type: string }
                action: { type: string, enum: [save, preview, publish, unpublish], default: save }
      responses: { "200": { description: OK } }
    delete: { tags: [Team], summary: Riport törlése, responses: { "200": { description: OK } } }
  /api/team/{id}/report/translate:
    post:
      tags: [Team]
      summary: Riport EN-fordítás flow
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [reportId]
              properties: { reportId: { type: string } }
      responses: { "200": { description: OK } }
  /api/team/role-round:
    # A GET (kör-állapot) a motor-audit v9-ben törölve — nem volt hívója, és a
    # becslés-számlálója egy soha nem perzisztált source:"estimate" értékre épült.
    post: { tags: [TeamRoles], summary: Csapatszerep-kör nyitása/zárása, responses: { "200": { description: OK } } }

  # ── TeamRoles / Trust / PsychSafety ──────────────────────────────────────
  /api/team-roles/submit:
    post:
      tags: [TeamRoles]
      summary: Saját csapatszerep-kérdőív beküldése
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [selections]
              properties:
                selections: { type: object, additionalProperties: { type: number } }
      responses: { "200": { description: OK } }
  /api/team-roles/peers:
    get:
      tags: [TeamRoles]
      summary: Értékelendő csapattársak (kampány-résztvevőnek, nyitott lépésnél)
      parameters: [{ name: campaignId, in: query, required: true, schema: { type: string } }]
      responses: { "200": { description: OK }, "409": { description: STEP_LOCKED } }
  /api/team-roles/peers/submit:
    post:
      tags: [TeamRoles]
      summary: Peer csapatszerep-értékelések beküldése
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [campaignId, observations]
              properties:
                campaignId: { type: string }
                observations:
                  type: array
                  items:
                    type: object
                    required: [aboutUserId, selections]
                    properties:
                      aboutUserId: { type: string }
                      selections: { type: object, additionalProperties: { type: number } }
      responses: { "200": { description: OK } }
  /api/trust/peers:
    get:
      tags: [TeamRoles]
      summary: Bizalmi kör — értékelendő tagok
      parameters: [{ name: campaignId, in: query, required: true, schema: { type: string } }]
      responses: { "200": { description: OK } }
  /api/trust/peers/submit:
    post:
      tags: [TeamRoles]
      summary: Bizalmi visszajelzések beküldése
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [campaignId, observations]
              properties:
                campaignId: { type: string }
                observations:
                  type: array
                  items:
                    type: object
                    required: [aboutUserId, answers]
                    properties:
                      aboutUserId: { type: string }
                      answers: { type: object, additionalProperties: { type: number } }
      responses: { "200": { description: OK } }
  /api/psych-safety/submit:
    post:
      tags: [TeamRoles]
      summary: Pszichológiai biztonság pulse beküldése (anonim aggregátumba)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [campaignId, answers]
              properties:
                campaignId: { type: string }
                answers: { type: object, additionalProperties: { type: number } }
      responses: { "200": { description: OK } }

  # ── Org ───────────────────────────────────────────────────────────────────
  /api/org:
    get: { tags: [Org], summary: Saját szervezetek, responses: { "200": { description: OK } } }
    post:
      tags: [Org]
      summary: Szervezet létrehozása (asConsultant = tanácsadói ügyfél-org)
      description: Rate-limitelt.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, maxLength: 100 }
                asConsultant: { type: boolean }
                billing: { type: object, additionalProperties: { type: string } }
      responses: { "200": { description: OK } }
  /api/org/context:
    get: { tags: [Org], summary: "Aktív org + tagságok (org-váltóhoz)", responses: { "200": { description: OK } } }
    post:
      tags: [Org]
      summary: Aktív org-kontextus váltása (csak saját tagságra)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [orgId]
              properties: { orgId: { type: string } }
      responses: { "200": { description: OK }, "403": { description: FORBIDDEN } }
  /api/org/join:
    post:
      tags: [Org]
      summary: Csatlakozás szervezethez meghívó-id-vel
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [inviteId]
              properties: { inviteId: { type: string } }
      responses: { "200": { description: OK } }
  /api/org/switch:
    post:
      tags: [Org]
      summary: Org-váltás team-meghívó elfogadásakor
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [inviteId]
              properties: { inviteId: { type: string } }
      responses: { "200": { description: OK } }
  /api/org/{id}:
    get: { tags: [Org], summary: Szervezet adatai (tagoknak), responses: { "200": { description: OK } } }
    patch:
      tags: [Org]
      summary: Szervezet módosítása (admin)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, maxLength: 100 }
                status: { type: string, enum: [ACTIVE, INACTIVE] }
      responses: { "200": { description: OK } }
  /api/org/{id}/invite:
    post:
      tags: [Org]
      summary: Org-meghívó küldése (admin; ORG_CONSULTANT nem osztható így)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
                role: { type: string, enum: [ORG_ADMIN, ORG_MANAGER, ORG_MEMBER], default: ORG_MEMBER }
      responses: { "200": { description: OK } }
  /api/org/{id}/invite/{inviteId}:
    delete: { tags: [Org], summary: Org-meghívó visszavonása, responses: { "200": { description: OK } } }
  /api/org/{id}/members/{userId}:
    patch:
      tags: [Org]
      summary: Tag-szerep módosítása (LAST_ADMIN-védelemmel)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [role]
              properties: { role: { type: string, enum: [ORG_ADMIN, ORG_MANAGER, ORG_MEMBER] } }
      responses: { "200": { description: OK } }
    delete: { tags: [Org], summary: Tag eltávolítása, responses: { "200": { description: OK } } }
  # A korábbi `/api/org/{id}/remind` bejegyzés törölve (2026-08-23): ilyen
  # route nincs a kódban — az emlékeztetőt a kampány-szintű
  # `/api/org/{id}/campaigns/{campaignId}/remind` küldi.
  /api/org/{id}/inquiries:
    patch:
      tags: [Org, Inquiry]
      summary: Org-hoz kötött kérdés kezelése (tanácsadó; státusz + jegyzet)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [inquiryId, action]
              properties:
                inquiryId: { type: string }
                action: { type: string, enum: [set_status, set_note] }
                status: { type: string, enum: [NEW, IN_PROGRESS, CLOSED] }
                note: { type: string, maxLength: 4000 }
      responses: { "200": { description: OK }, "403": { description: FORBIDDEN } }
  /api/org/{id}/campaigns:
    get: { tags: [Org], summary: Kampányok listája (org-tag), responses: { "200": { description: OK } } }
    post:
      tags: [Org]
      summary: Kampány létrehozása (tanácsadói felület + launchCampaign capability)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, maxLength: 100 }
                description: { type: string, maxLength: 500 }
                presetId:
                  type: string
                  enum: [SCAN_V1]
                  description: A nevesített preset lépéssora draftban is változtathatatlan.
                type: { type: string, enum: [SELF_ASSESSMENT, OBSERVER_360, TEAM_ROLE, TEAM_ROLE_360, TRUST_360, PSYCH_SAFETY, PEER_FEEDBACK] }
                types:
                  type: array
                  minItems: 1
                  maxItems: 7
                  items: { type: string, enum: [SELF_ASSESSMENT, OBSERVER_360, TEAM_ROLE, TEAM_ROLE_360, TRUST_360, PSYCH_SAFETY, PEER_FEEDBACK] }
                teamId: { type: string }
                teamIds: { type: array, maxItems: 50, items: { type: string } }
                allowExternalObservers: { type: boolean, default: false }
                stepIntervalHours: { type: integer, minimum: 0, maximum: 168, default: 24 }
                peerFeedbackAnonymous: { type: boolean, default: false }
                requireFreshResults: { type: boolean, default: false }
      responses: { "201": { description: Created } }
  /api/org/{id}/campaigns/{campaignId}:
    get: { tags: [Org], summary: Kampány részletei, responses: { "200": { description: OK } } }
    patch:
      tags: [Org]
      summary: Kampánystátusz-váltás vagy custom draft szerkesztése
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  required: [status]
                  properties: { status: { type: string, enum: [DRAFT, ACTIVE, CLOSED] } }
                - type: object
                  required: [action]
                  properties:
                    action: { type: string, const: edit_draft }
                    types:
                      type: array
                      minItems: 1
                      maxItems: 7
                      description: Csak preset nélküli custom kampánynál módosítható.
                      items: { type: string, enum: [SELF_ASSESSMENT, OBSERVER_360, TEAM_ROLE, TEAM_ROLE_360, TRUST_360, PSYCH_SAFETY, PEER_FEEDBACK] }
                    teamId: { type: [string, "null"] }
                    teamIds: { type: array, maxItems: 50, items: { type: string } }
                    stepIntervalHours: { type: integer, minimum: 0, maximum: 168 }
                    peerFeedbackAnonymous: { type: boolean }
                    name: { type: string, maxLength: 100 }
                    description: { type: [string, "null"], maxLength: 500 }
      responses:
        "200": { description: OK }
        "409": { description: Érvénytelen állapotváltás vagy rögzített preset-lépéssor }
    post:
      tags: [Org]
      summary: Résztvevők hozzáadása
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [userIds]
              properties:
                userIds: { type: array, minItems: 1, maxItems: 50, items: { type: string } }
      responses: { "200": { description: OK } }
  /api/org/{id}/campaigns/{campaignId}/pacing:
    post:
      tags: [Org]
      summary: Lépés-ütemezés (intervallum / azonnali nyitás)
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  required: [action, stepIntervalHours]
                  properties:
                    action: { type: string, const: interval }
                    stepIntervalHours: { type: integer, minimum: 0, maximum: 168 }
                - type: object
                  required: [action]
                  properties: { action: { type: string, const: release_now } }
      responses: { "200": { description: OK } }
  /api/org/{id}/campaigns/{campaignId}/remind:
    post: { tags: [Org], summary: Kampány-emlékeztetők küldése, responses: { "200": { description: OK } } }

  # ── Manager / Hiring ──────────────────────────────────────────────────────
  /api/manager/candidates:
    post:
      tags: [Manager]
      summary: Jelölt-meghívó létrehozása (kredit-fogyasztással)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                email: { type: string, format: email }
                name: { type: string, maxLength: 100 }
                position: { type: string, maxLength: 100 }
                teamId: { type: string }
                inviteLocale: { type: string, enum: [hu, en] }
      responses: { "200": { description: "{ token, applyUrl }" } }
  /api/manager/candidates/{id}:
    delete: { tags: [Manager], summary: Jelölt-meghívó visszavonása, responses: { "200": { description: OK } } }
  /api/manager/candidates/{id}/resend:
    post: { tags: [Manager], summary: Jelölt-meghívó újraküldése, responses: { "200": { description: OK } } }
  /api/hiring/request-credits:
    post:
      tags: [Manager]
      summary: Kredit-igénylés (admin bírálja el)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [orgId]
              properties: { orgId: { type: string } }
      responses: { "200": { description: OK } }
  /api/advisory/request:
    post: { tags: [Manager], summary: Tanácsadási igény jelzése, responses: { "200": { description: OK } } }

  # ── Admin (requireAdmin — ADMIN_EMAILS) ──────────────────────────────────
  /api/admin/org-access:
    get: { tags: [Admin], summary: Összes org előfizetés-állapottal, responses: { "200": { description: OK }, "401": { description: Unauthorized } } }
    post:
      tags: [Admin]
      summary: Org-hozzáférés kezelése (activate/trial/extend/…)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [orgId, action]
              properties:
                orgId: { type: string }
                action: { type: string, enum: [activate, trial, extend, deactivate, set_credits, assign_consultant, remove_consultant, update_billing] }
                billing: { type: object, additionalProperties: { type: string } }
                planType: { type: string, enum: [team, org, scale] }
                months: { type: integer, minimum: 1, maximum: 36 }
                candidateCredits: { type: integer, minimum: 0, maximum: 1000 }
                consultantEmail: { type: string, format: email }
      responses: { "200": { description: OK } }
  /api/admin/consultants:
    get: { tags: [Admin], summary: Tanácsadók + meghívók listája, responses: { "200": { description: OK } } }
    post:
      tags: [Admin]
      summary: Tanácsadó-onboarding műveletek
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [action]
              properties:
                action: { type: string, enum: [invite, revoke_invite, remove_consultant, assign_org, unassign_org] }
                email: { type: string, format: email }
                note: { type: string, maxLength: 300 }
                inviteId: { type: string }
                profileId: { type: string }
                orgId: { type: string }
      responses: { "200": { description: OK } }
  /api/admin/inquiries:
    patch:
      tags: [Admin, Inquiry]
      summary: Kérdés kezelése (státusz, jegyzet, user/org link)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [inquiryId, action]
              properties:
                inquiryId: { type: string }
                action: { type: string, enum: [set_status, set_note, link_org, unlink_org, link_user, unlink_user] }
                status: { type: string, enum: [NEW, IN_PROGRESS, CLOSED] }
                note: { type: string, maxLength: 4000 }
                organizationId: { type: string }
                userProfileId: { type: string }
      responses: { "200": { description: OK } }
  /api/admin/send-reminder/{id}:
    post: { tags: [Admin], summary: Observer-emlékeztető küldése, responses: { "200": { description: OK } } }
  /api/admin/send-draft-reminder/{id}:
    post: { tags: [Admin], summary: Piszkozat-emlékeztető küldése, responses: { "200": { description: OK } } }

  # ── System ────────────────────────────────────────────────────────────────
  /api/dashboard/status:
    get: { tags: [System], summary: Dashboard polling-állapot, responses: { "200": { description: OK } } }
  /api/journey/state:
    get:
      tags: [System]
      summary: Journey-állapot + következő lépés
      parameters:
        - { name: teamId, in: query, schema: { type: string } }
        - { name: orgId, in: query, schema: { type: string } }
        - { name: locale, in: query, schema: { type: string, enum: [hu, en] } }
      responses: { "200": { description: OK } }
  /api/cron/release-steps:
    get:
      tags: [System]
      summary: Ütemezett kampánylépések nyitása (Vercel cron, óránként)
      security: [{ cronBearer: [] }]
      responses: { "200": { description: "{ ok, released }" }, "401": { description: Unauthorized } }
  /api/webhooks/clerk:
    post:
      tags: [System]
      summary: Clerk webhook (user-szinkron, email-küldés) — Svix-aláírással
      security: [{ svixSignature: [] }]
      responses: { "200": { description: OK }, "400": { description: Bad signature } }

  # ───────────────────────────────────────────────────────────────────
  # 2026-08-23 — a teljes audit (P1-16) leletje alapján pótolt végpontok.
  #
  # A leíró 82 útvonalat írt le, a kódban 120 volt: a hírlevél, a CRM, az
  # analitika, a peer-feedback és a pilot-kritikus riport-akció végpont
  # teljesen hiányzott. Egy hiányos leíró rosszabb a hiányzónál: úgy néz ki,
  # mintha teljes volna.
  #
  # Az alábbi bejegyzések a route-fájlok Zod-sémáiból származnak. Ahol a
  # kérés-törzs bonyolult (CRM, blog-szerkesztő), a leírás a mezőkészletet
  # nevesíti a séma helyett — a forrás mindig a route-fájl.
  # ───────────────────────────────────────────────────────────────────

  # ── Analitika és diagnosztika ──────────────────────────────────────
  /api/e:
    post:
      tags: [System]
      summary: Első feles esemény-beküldés (kötegelt)
      description: |
        ZÁRT esemény-katalógus (`src/lib/analytics/events.ts`), zod `.strict()`
        sémákkal — PII szerkezetileg nem kerülhet bele. Nincs süti és semmilyen
        eszköz-tárolás; a látogató-álnév naponta rotál. GPC/DNT jelzésre elnyeli
        a beküldést. Rate limit: `analytics` tier.
      security: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [events]
              properties:
                events:
                  type: array
                  items:
                    type: object
                    required: [name]
                    properties:
                      name: { type: string, description: "A zárt katalógus egy kulcsa" }
                      props: { type: object, description: "Esemény-specifikus, sémával zárt mezők" }
      responses:
        "204": { description: "Elfogadva (a válasz sosem mond semmit a feldolgozásról)" }
        "503": { description: "RATE_LIMIT_UNAVAILABLE — nincs beállított rate limit (fail-closed)" }
  /api/client-error:
    post:
      tags: [System]
      summary: Kliens-oldali hibahatár jelentése
      description: |
        A `ErrorScreen` hibahatár küldi. Zárt séma, csonkolt mezők, stacket NEM
        fogad. A jelentés a szerver-loggerbe kerül, és riasztást indít, ha az
        `ERROR_ALERT_WEBHOOK_URL` be van állítva. Válasz mindig 204.
      security: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [surface]
              properties:
                surface: { type: string, maxLength: 40, description: "Melyik hibahatár fogta (pl. root, team)" }
                name: { type: string, maxLength: 80 }
                message: { type: string, maxLength: 500 }
                digest: { type: string, maxLength: 120 }
                path: { type: string, maxLength: 200, description: "Query és hash NÉLKÜL" }
      responses:
        "204": { description: Elfogadva }
  /api/csp-report:
    post:
      tags: [System]
      summary: Content-Security-Policy sértés-jelentés (report-uri)
      description: |
        A CSP report-only mód célpontja. Mindkét böngésző-formátumot fogadja
        (`application/csp-report` és Reporting API). Csak a sértés három
        azonosító mezőjét naplózza — a `script-sample` felhasználói szöveget
        tartalmazhat, ezért a teljes reportot nem írjuk ki. Válasz mindig 204.
      security: []
      responses:
        "204": { description: Elfogadva }
  /api/nav/context:
    get:
      tags: [System]
      summary: Munkaterület-fejléc adatcsomagja (marketing zóna kliens-oldali hívása)
      responses:
        "200": { description: "{ navData, helpAudience }" }
        "401": { description: Unauthorized }
        "404": { description: "No profile (belépve, de profil nélkül)" }
  /api/team/context:
    get:
      tags: [Team]
      summary: Aktív csapat-kontextus lekérése
      responses: { "200": { description: OK }, "401": { description: Unauthorized } }
    post:
      tags: [Team]
      summary: Aktív csapat-kontextus váltása
      responses: { "200": { description: OK }, "403": { description: Forbidden } }

  # ── Csapat: riport-akciók, kudos, visszajelzés-kérés ───────────────
  /api/team/{id}/report/actions:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    patch:
      tags: [Team]
      summary: Riport-akcióelem státusz és célmutató frissítése
      description: |
        A pilot S5/S6 kritériumának végpontja: az akcióelem `targetMetric`
        mezője (`psych_safety_index`, `psych_safety_item:PS1…PS8`,
        `trust_coverage`, `trust_isolated_count`) köti a vállalást mért
        mutatóhoz, a visszamérés ehhez hasonlít.
      responses: { "200": { description: OK }, "403": { description: Forbidden } }
  /api/team/{id}/kudos:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    get: { tags: [Team], summary: Elismerések listája, responses: { "200": { description: OK } } }
    post: { tags: [Team], summary: Elismerés küldése csapattársnak, responses: { "201": { description: Created } } }
  /api/team/{id}/feedback-requests:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    get: { tags: [Team], summary: Visszajelzés-kérések listája, responses: { "200": { description: OK } } }
    post: { tags: [Team], summary: Visszajelzés-kérés indítása, responses: { "201": { description: Created } } }
  /api/team/{id}/feedback-requests/{requestId}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
      - { name: requestId, in: path, required: true, schema: { type: string } }
    post: { tags: [Team], summary: Válasz a visszajelzés-kérésre, responses: { "201": { description: Created } } }
    patch: { tags: [Team], summary: Kérés lezárása / visszavonása, responses: { "200": { description: OK } } }
  /api/peer-feedback/submit:
    post:
      tags: [TeamRoles/Trust/PsychSafety]
      summary: Elismerés-kör (peer feedback) beküldése
      description: |
        Kampány-lépés (`PEER_FEEDBACK`). Anonim-aggregált módban a címzett
        csak n ≥ 3 értékelőtől lát összesítést (anonimitás-padló).
      responses: { "200": { description: OK }, "409": { description: "STEP_LOCKED / ALREADY_SUBMITTED" } }
  /api/feedback/result-clarity:
    post:
      tags: [Feedback]
      summary: „Mennyire volt érthető az eredményed?" visszajelzés
      responses: { "200": { description: OK } }
  /api/profile/email-preferences:
    get: { tags: [Profile], summary: Email-értesítési beállítások, responses: { "200": { description: OK } } }
    post: { tags: [Profile], summary: Email-értesítési beállítások mentése, responses: { "200": { description: OK } } }

  # ── Páros összehasonlítás (interaction) ────────────────────────────
  /api/interaction/invite:
    post: { tags: [Profile], summary: Összehasonlítás-meghívó létrehozása, responses: { "201": { description: Created } } }
    get: { tags: [Profile], summary: Saját meghívók listája, responses: { "200": { description: OK } } }
    delete: { tags: [Profile], summary: Meghívó visszavonása, responses: { "200": { description: OK } } }
  /api/interaction/invite/{token}:
    parameters:
      - { name: token, in: path, required: true, schema: { type: string } }
    get:
      tags: [Public]
      summary: Meghívó feloldása token alapján
      security: []
      responses: { "200": { description: OK }, "404": { description: Not found / expired } }
  /api/interaction/invite/{token}/accept:
    parameters:
      - { name: token, in: path, required: true, schema: { type: string } }
    post:
      tags: [Public]
      summary: Meghívó elfogadása (kölcsönös összehasonlítás nyitása)
      security: []
      responses: { "200": { description: OK }, "403": { description: "INVITE_EMAIL_MISMATCH" } }

  # ── Hírlevél ───────────────────────────────────────────────────────
  /api/newsletter/subscribe:
    post:
      tags: [Public]
      summary: Feliratkozás (double opt-in — PENDING állapot + megerősítő levél)
      description: |
        Rate limit: `newsletter` tier, productionben Redis nélkül FAIL-CLOSED
        (503) — a végpont tetszőleges címre küld levelet, tehát védelem nélkül
        levél-ágyúként volna használható.
      security: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
                locale: { type: string, enum: [hu, en] }
                source: { type: string, description: "Melyik felületről jött a feliratkozás" }
      responses:
        "200": { description: "OK (a válasz nem árulja el, létezett-e már a cím)" }
        "503": { description: "RATE_LIMIT_UNAVAILABLE" }
  /api/newsletter/confirm:
    get:
      tags: [Public]
      summary: Feliratkozás megerősítése (PENDING → ACTIVE) — a levél linkje
      security: []
      parameters:
        - { name: token, in: query, required: true, schema: { type: string } }
      responses: { "302": { description: "Átirányítás a /newsletter/confirmed oldalra" } }
    post:
      tags: [Public]
      summary: Megerősítés űrlapból
      security: []
      responses: { "200": { description: OK } }
  /api/newsletter/unsubscribe:
    get:
      tags: [Public]
      summary: Leiratkozás belépés nélkül (List-Unsubscribe és a levél lábléce)
      security: []
      parameters:
        - { name: token, in: query, required: true, schema: { type: string } }
      responses: { "302": { description: "Átirányítás a /newsletter/unsubscribed oldalra" } }
    post:
      tags: [Public]
      summary: Leiratkozás (List-Unsubscribe=One-Click)
      security: []
      responses: { "200": { description: OK } }
  /api/newsletter/click:
    get:
      tags: [Public]
      summary: Kattintás-követő átirányítás
      description: |
        Kattintás IGEN, nyitás SOHA (nincs követő pixel). A `NewsletterDelivery`
        sor a küldés ELŐTT jön létre, mert ez a link az id-jét viszi.
      security: []
      parameters:
        - { name: d, in: query, required: true, schema: { type: string, description: "delivery id" } }
      responses: { "302": { description: "Átirányítás a cikkre" } }
  /api/newsletter/cover/{slug}:
    parameters:
      - { name: slug, in: path, required: true, schema: { type: string } }
    get:
      tags: [Public]
      summary: A levélbe ágyazott borítókép
      description: Ismeretlen slug a statikus márka-képre irányít; a slug nem léphet ki a blog könyvtárból.
      security: []
      responses: { "200": { description: "image/*" }, "302": { description: Fallback kép } }
  /api/webhooks/resend:
    post:
      tags: [System]
      summary: Resend kézbesítési webhook (delivered / failed / suppressed / bounced / complained)
      description: |
        Enélkül nincs valós kézbesítési státusz, és a visszapattant címek a
        listán maradnak. Aláírás-ellenőrzés `RESEND_WEBHOOK_SECRET`-tel.
      security: [{ svixSignature: [] }]
      responses: { "200": { description: OK }, "400": { description: Bad signature } }

  # ── Cron ───────────────────────────────────────────────────────────
  /api/cron/blog-digest:
    get:
      tags: [System]
      summary: Napi blog-digest kiküldése (14 napos ablak, idempotens)
      security: [{ cronBearer: [] }]
      responses: { "200": { description: "{ ok, sent }" }, "401": { description: Unauthorized } }
  /api/cron/newsletter-maintenance:
    get:
      tags: [System]
      summary: Hírlevél-karbantartás (outbox-retry, stale-claim recovery, 12 hónapos törlés)
      security: [{ cronBearer: [] }]
      responses: { "200": { description: OK }, "401": { description: Unauthorized } }
  /api/cron/analytics-retention:
    get:
      tags: [System]
      summary: Analitika megőrzési takarítás (heti)
      security: [{ cronBearer: [] }]
      responses: { "200": { description: OK }, "401": { description: Unauthorized } }

  # ── Admin: blog, hírlevél, ajánlat-díjszabás ───────────────────────
  /api/admin/blog:
    post: { tags: [Admin], summary: Blogbejegyzés létrehozása, responses: { "201": { description: Created } } }
    put: { tags: [Admin], summary: Blogbejegyzés felülírása, responses: { "200": { description: OK } } }
    patch: { tags: [Admin], summary: Blogbejegyzés részleges módosítása (pl. piszkozat-állapot), responses: { "200": { description: OK } } }
    delete: { tags: [Admin], summary: Blogbejegyzés törlése, responses: { "200": { description: OK } } }
  /api/admin/newsletter:
    get: { tags: [Admin], summary: Feliratkozók és kézbesítési statisztika, responses: { "200": { description: OK } } }
    post: { tags: [Admin], summary: Küldés most / teszt-küldés, responses: { "200": { description: OK } } }
  /api/admin/newsletter/issues:
    post: { tags: [Admin], summary: Szerkesztett hírlevél-szám létrehozása, responses: { "201": { description: Created } } }
    patch: { tags: [Admin], summary: Szám szerkesztése / publikálása, responses: { "200": { description: OK } } }
    delete: { tags: [Admin], summary: Szám törlése, responses: { "200": { description: OK } } }
  /api/admin/quote/rates:
    get: { tags: [Admin], summary: Ajánlat-díjszabás lekérése, responses: { "200": { description: OK } } }
    put: { tags: [Admin], summary: Ajánlat-díjszabás mentése, responses: { "200": { description: OK } } }

  # ── Admin: CRM ─────────────────────────────────────────────────────
  /api/admin/crm/deals:
    get: { tags: [Admin], summary: Deal-lista (pipeline), responses: { "200": { description: OK } } }
    post: { tags: [Admin], summary: Deal létrehozása (intake), responses: { "201": { description: Created } } }
  /api/admin/crm/deals/{id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    get: { tags: [Admin], summary: Deal részletei, responses: { "200": { description: OK } } }
    patch: { tags: [Admin], summary: Deal módosítása (státusz, érték, következő lépés), responses: { "200": { description: OK } } }
  /api/admin/crm/deals/{id}/activities:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    post: { tags: [Admin], summary: Aktivitás rögzítése a dealhez, responses: { "201": { description: Created } } }
  /api/admin/crm/activities/{id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    patch: { tags: [Admin], summary: Aktivitás módosítása, responses: { "200": { description: OK } } }
    delete: { tags: [Admin], summary: Aktivitás törlése, responses: { "200": { description: OK } } }
  /api/admin/crm/quotes:
    post: { tags: [Admin], summary: Ajánlat létrehozása, responses: { "201": { description: Created } } }
  /api/admin/crm/quotes/{id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    patch: { tags: [Admin], summary: Ajánlat módosítása, responses: { "200": { description: OK } } }
    delete: { tags: [Admin], summary: Ajánlat törlése, responses: { "200": { description: OK } } }
  /api/admin/crm/quotes/{id}/duplicate:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    post: { tags: [Admin], summary: Ajánlat duplikálása, responses: { "201": { description: Created } } }

  # ── Parkolt felületek (a kapu 404 FEATURE_PARKED-et ad) ────────────
  # Ezek a route-ok LÉTEZNEK, de a `PORTFOLIO_SURFACE_STATE` jelenleg
  # parkolja őket. A leíróban azért szerepelnek, hogy a visszaállításkor ne
  # kelljen újra felderíteni a szerződésüket.
  /api/candidate/{token}/team-role:
    parameters:
      - { name: token, in: path, required: true, schema: { type: string } }
    post:
      tags: [Manager/Hiring]
      summary: "[PARKOLT: hiring] Jelölt csapatszerep-lépésének beküldése"
      security: []
      responses: { "200": { description: OK }, "404": { description: "FEATURE_PARKED" } }
  /api/career/occupations:
    get:
      tags: [Public]
      summary: "[PARKOLT: career] Foglalkozás-katalógus"
      security: []
      responses: { "200": { description: OK }, "404": { description: "FEATURE_PARKED" } }
  /api/career/fakedoor/view:
    post:
      tags: [Public]
      summary: "[PARKOLT: fakedoor] Ajánlat-megjelenítés mérése"
      security: []
      responses: { "200": { description: OK }, "404": { description: "FEATURE_PARKED" } }
  /api/career/fakedoor/response:
    post:
      tags: [Public]
      summary: "[PARKOLT: fakedoor] Szándék-válasz mérése"
      security: []
      responses: { "200": { description: OK }, "404": { description: "FEATURE_PARKED" } }
  /api/admin/fakedoor/career/export:
    get:
      tags: [Admin]
      summary: "[PARKOLT: fakedoor] Mérési adatok exportja"
      responses: { "200": { description: "text/csv" }, "404": { description: "FEATURE_PARKED" } }
